[Unit]
Description=ServiceName application server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/bin/sh -c "/PATH/TO/DEPLOY.sh > /var/log/serviceName.log 2>&1"
